<%= form_tag create_session_url do %>
	<p>
		<%= link_to 'Login using Facebook', new_session_path(:facebook) %>
	</p>

	<p>
		<label>
			Email
		</label>
		<%= text_field_tag :email %>
	</p>

	<p>
		<label>
			Password
		</label>
		<%= password_field_tag :password %>
	</p>
	
	<%= submit_tag 'Login' %>
<% end %>