<%= form_for(user) do |f| %>
	<p>
		<%= f.text_field :name, placeholder: 'Name' %>
	</p>
	
	<p>
		<%= f.text_field :email, placeholder: 'Email' %>
	</p>
	
	<p>
		<%= f.password_field :password, placeholder: 'Password' %>
	</p>
	
	<p>
		<label class="checkbox">
			<%= f.check_box :terms_accepted %>
			I agree to the Viewcy Terms of Service
		</label>
	</p>
	
	<p>
		<%= icon_button :submit %>
	</p>
<% end %>