<section>
	<div class="errors">
		<% if @user.errors.any? %>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li>
						<%= message %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<%= render partial: 'users/form', locals: { user: @user } %>
</section>