#= require ../models/observer
#= depend_on_view courses/_course.html.erb

class Scheduler.CourseDetailView extends Backbone.View
  template: <%= erb_template('courses/_course.html.erb') %>
  events:
    "click .close": "close"
    "click .instructor": "openInstructor"
    
  initialize: ->
    @listenTo(@model, "sync", @render)
    @listenTo(Scheduler.Observer, "instructors:display", @render)
  
  render: =>
    Scheduler.setTitle(@model.get("name"))
    @$el.html(_.template(@template)(@model.toJSON()))
    @
  
  close: =>
    Backbone.history.navigate("", trigger: true)

  openInstructor: (event) =>
    event.preventDefault()
    
    id = $(event.currentTarget).data("instructor-id")
    instructor = _.find(@model.instructors().models, (i) -> i.id == id)
    
    @instructorView.remove() if @instructorView?
    @instructorView = new Scheduler.InstructorView(model: instructor)
    @$el.find(".instructors").html(@instructorView.render().$el)