#= depend_on_view schools/_school.html.erb

class Scheduler.SchoolDetailView extends Backbone.View
  id: "school"
  template: <%= erb_template('schools/_school.html.erb') %>

  initialize: ->
    @listenTo(@model, "sync", @render)  

  render: =>
    Scheduler.setTitle(@model.get("name"))
    @$el.html(_.template(@template)(@model.toJSON()))
    @
