<h1>
    Viewcy
</h1>

<h2>
	Schools
</h2>

<ul>
	<% @schools.each do |school| %>
		<li>
			<%= link_to school.name, school_root_url(subdomain: school.identifier) %>
		</li>
	<% end %>
</ul>

<p>
	<%= link_to 'Create a New School', new_school_registration_path %>
</p>