<div class="credit <%= cycle('even', 'odd') %>">
	<div class="courses">
		<%= credit.courses.map(&:name).to_sentence %>
	</div>
	
	<div class="name">
		<%= credit.product_name %>
	</div>
	
	<div class="value">
		<%= pluralize(credit.remaining, 'credit', 'credits') %>
	</div>
</div>