<section class="credits">
	<h2>
		Your Credits
	</h2>
	
	<div>
		<% if @credits.present? %>
			<%= render partial: @credits %>
		<% else %>
			<p>
				You have no credits.
			</p>
		<% end %>
	</div>
</section>