<%= simple_form_for @school_registration, as: :school_registration do |f| %>
	<%= @school_registration.errors[:merchant_account].to_sentence if @school_registration.errors[:merchant_account] %>
	
	<fieldset>
		<legend>
			User Information
		</legend>

		<%= f.fields_for :user_attributes, f.object.user do |u| %>
			<% if f.object.user.new_record? %>
				<%= u.input :name %>
				<%= u.input :email %>
				<%= u.input :password %>
				
				<%= link_to 'Already have an account?', new_session_path %>
			<% end %>
			
			<%= u.input :date_of_birth %>
			<%= f.input :ssn %>		
			
			<%= u.simple_fields_for :billing_address_attributes, u.object.billing_address || Address.new do |a| %>
				<%= a.input :address %>
				<%= a.input :address_2 %>
				<%= a.input :city %>
				<%= a.input :state %>
				<%= a.input :country %>
				<%= a.input :zipcode %>
			<% end %>
		<% end %>
	</fieldset>
	
	<fieldset>
		<legend>
			School Information
		</legend>
	
		<%= f.fields_for :school_attributes, f.object.school do |s| %>
			<%= s.input :name %>
			<%= s.input :legal_name %>
			<%= s.input :identifier %>
			<%= s.input :description %>
			<%= s.input :timezone, collection: timezone_options %>
	
			<%= s.simple_fields_for :address_attributes, s.object.address || Address.new do |a| %>
				<%= a.input :address %>
				<%= a.input :address_2 %>
				<%= a.input :city %>
				<%= a.input :state %>
				<%= a.input :country %>
				<%= a.input :zipcode %>
			<% end %>
	
			<%= s.input :email %>
			<%= s.input :phone %>
			<%= s.input :gplus_url %>
			<%= s.input :facebook_url %>
			<%= s.input :twitter_url %>
	
			<%= s.input :logo_image %>
			<%= s.input :header_image %>	
			<%= s.input :tos_accepted %>
		<% end %>
	</fieldset>
	
	<fieldset>
		<legend>
			Bank Information
		</legend>
		
		<%= f.input :tax_id %>
		<%= f.input :account_number %>
		<%= f.input :routing_number %>
	</fieldset>
	
	<%= f.submit %>	
<% end %>