@import "globals";
@import "support/flex";
@import "support/slide";

$dark: darken($Scheduler-Background, 20%);
$light: lighten($Scheduler-Background, 10%);

#scheduler {
    .calendar {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        @include slide;
        
        position: fixed;
        top: 0;
        left: 100% - $Panel-Width;
        right: 0;
        bottom: 0;
        background-color: $dark;
        
        @media(max-width: $Transition-Width) {
            left: 0;
        }
        
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        
        .control {
            width: 80%;
        }
        
        .clndr {
            width: 100%;
            font-weight: bold;            
        }
        
        .clndr-controls {
            @include display-flex;
            @include flex-direction(row);
            
            .clndr-previous-button, .clndr-next-button {
                @include flex(2);
            }
            
            .clndr-previous-button {
                text-align: right;
            }
            
            .month {
                @include flex(1);
                text-align: center;
            }
        }
        
        .header-day, .day {
            display: inline-block;
            float: left;
            width: 14.2%;
            text-align: center;
            
            span {
                display: block;
                margin: 5px;
                padding: 10px;
            }
        }
        
        .calendar-dow-0 {
            clear: left;
        }
        
        .event {
            span {
                color: $dark;
                background-color: $light;
            }
        }
        
        .adjacent-month {
            font-weight: normal;
        }
    }
}