@import "globals";
@import "support/flex";

#scheduler {
    .course {
        &:hover {
            background-color: darken($Scheduler-Background, 5%);
        }
    }    
}

#detail {
    .class-description {
        padding: 5px 0;
        color: $Scheduler-Background;
    }
    
    .instructors {
        h3 {
            font-size: 0.9em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
    }
    
    .instructor, .instructor-expanded {
        @include display-flex;
        
        .profile-image, .details {
            padding: 20px;
        }
        
        .email {
            font-size: 0.8em;
        }
    }
}