@import "globals";
@import "support/flex";

#detail {
    color: $School-Color;
    background-color: $School-Background;
    
    header {
        padding: 20px 35px 0;
        
        h1 {
            max-width: 50%;
            
            img {
                max-width: 100%;
            }
        }
        
        #authentication {
            float: right;
            text-align: right;
            color: $Scheduler-Background;
            font-size: 0.8em;
            font-weight: bold;
            text-transform: uppercase;
            
            a {
                color: $Scheduler-Background;
                text-decoration: none;
            }
            
            .name {
                color: lighten($Scheduler-Background, 20%);
            }
        }
    }
    
    h2 {
        margin: 0 0 20px 0;
        color: $Scheduler-Background;
        font-size: 2em;
        font-weight: 300;
    }
    
    hr {
        margin: 20px 0;
        border: 0;
        border-top: 1px solid #f4f1f1;
    }
    
    .content {
        padding: 20px 40px;
        
        .contact {
            position: relative;
            
            .social {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    
    .image {
        /* Image will sometimes leave a thin white line at the bottom */
        position: relative;
        top: 1px;
        
        height: $School-Image-Height;
    }
}