@import "globals";
@import "support/flex";

#scheduler {
    .event-header {
        @include display-flex;
        @include flex-direction(row);
        
        width: 100%;
        background-color: darken($Scheduler-Background, 20%);
        
        > div {
          @include flex(1);
        }  
        
        .view-booked {
            text-align: right;
        }
    }
}