@import "support/flex";

#scheduler {
    .event {
        .event-details {
            @include display-flex;
            @include flex-direction(row);
        
            .time, .instructor {
                padding-right: 40px;
            }
        
            .time {
                font-size: 2em;
            }
        
            .instructor {
                @include flex(1);
            }
        }
    }
}