/* Layout */
$Transition-Width: 980px;
$Panel-Width: 50%;

/* School Panel */
$School-Color: #73504e;
$School-Background: white;

/* School Image */
$School-Image-Height: 250px;

/* $Scheduler Panel */
$Scheduler-Color: white;
$Scheduler-Background: #cf4236;

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

