@import "globals";

#scheduler {
    .item {
        $color: mix($Scheduler-Color, $Scheduler-Background, 10%);
        
        width: 100%;
        padding: 20px 40px;
        border-bottom: 1px solid $color;
        
        &:first-child {
            border-top: 1px solid $color;
        }
        
        h2 {
            font-weight: bold;
        }
        
        p {
            color: darken($Scheduler-Color, 10%);
            font-size: 0.8em;
        }
    }
}