@import "globals";
@import "support/flex";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#detail {
    height: 100%;
    width: $Panel-Width;
    
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }    

    header {
        position: relative;
        top: 0;
        left: 0;
        right: $Panel-Width;
        background-color: $School-Background;
    }
    
    #content {
        height: 100%;
    }
}

#scheduler {
    position: absolute;
    top: 0;
    left: $Panel-Width;
    right: 0;
    min-height: 100%;
}

#detail, #scheduler {
    @media(max-width: $Transition-Width) {
        &, &.fixed {
            position: static;
            width: 100%;
        }
    }
}
