@import "globals";
@import "support/slide";

#login, #new-account {         
    @include slideDown;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: darken($Scheduler-Background, 10%);
    z-index: 1;
}