@import "globals";
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

body {
    background-color: $Scheduler-Background;
    font: 300 100% Lato, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.35px;
    line-height: 1.5em; 
    
    a {
        color: $Scheduler-Background;
    }
    
    .button {
        cursor: pointer;
    }
}

