@import "globals";
@import "support/flex";
@import "support/slide";

#scheduler {
    @include display-flex;
    
    color: $Scheduler-Color;
    
    a {
        color: $Scheduler-Color;
    }
    
    .collection {
        width: 100%;
    }
}