@import "globals";
@import "support/flex";

#school {
    @include display-flex;
    @include flex-direction(column);

    height: 100%;
    width: 100%;
    
    .content, .image {
        @include flex(1);
    }
}