@import "globals";
@import "support/flex";

#throbber {
    position: fixed;
    top: 0;
    left: 100% - $Panel-Width;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    
    @media(max-width: $Transition-Width) {
        left: 0;
    }
    
    @include display-flex;
    @include align-items(center);
    
    .container {
        margin: auto;
    }
}

/* CSS Loaders
    http://projects.lukehaas.me/css-loaders/
*/
.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
