<div class="content">
	<div class="description">
		<%= school.description %>
	</div>

	<hr>

	<div class="contact">
		<div class="item address">
			<p>
				<%= school.address_address %>
			</p>
		
			<p>
				<%= school.address_city %>
			</p>
		</div>

		<div class="item phone">
			<p>
				<%= school.phone %>
			</p>
		</div>
	
		<div class="item email">
			<p>
				<%= school.email %>
			</p>
		</div>
	
		<div class="item social">
			F T G+
		</div>
	</div>
</div>

<% if school.header_image %>
	<div class="image" style="background-image: url(<%= school.header_image %>); background-position: middle; background-size: cover">
	</div>
<% end %>
