<% title @school.name %>

<div id="school">
	<%= render partial: 'school', object: @school %>
</div>

<% content_for :scheduler do %>
	<%= render partial: 'courses/courses', object: @courses %>
<% end %>