<div id="courses" class="collection courses">
	<% courses.each do |course| %>
		<%= link_to course_path(course) do %>
			<div class="item course">
		    <h2>
		     	<%= course.name %>
		    </h2>

		    <p>
		      <%= course.description %>
		    </p>
			</div>
		<% end %>
	<% end %>
</div>