<div class="content">
	<article>
		<h2>
			<%= course.name %>
		</h2>
		
		<p>
			<%= course.description %>
		</p>
		
		<p class="class-description event-description">
			<%= course.event_description %>
		</p>
		
		<p class="class-description product-description">
			<%= course.product_description %>
		</p>
	</article>
	
	<hr>
	
	<article class="instructors">
		<h3>
			Instructors
		</h3>
		
		<% course.instructors.each do |instructor| %>
			<div class="instructor" data-instructor-id="<%= instructor.id %>">
				<div class="profile-image">
					<img src="<%= instructor.profile_image_url %>" alt="Profile Image">
				</div>
				
				<div class="details">
					<p class="name">
						<%= instructor.name %>
					</p>
				
					<p class="email">
						<a href="mailto:<%= instructor.email %>">
							<%= instructor.email %>
						</a>
					</p>
				</div>
			</div>
		<% end %>
	</article>
</div>
