@mixin animation($opts) {
    -webkit-animation: $opts;
    -moz-animation: $opts;
    -o-animation: $opts;
    -ms-animation: $opts;
    animation: $opts;    
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin keyframes($opts) {
    @-webkit-keyframes $opts {
        @content
    }
    
    @-moz-keyframes $opts {
        @content
    }
    
    @-o-keyframes $opts {
        @content
    }
    
    @-ms-keyframes $opts {
        @content
    }
    
    @keyframes $opts {
        @content
    }
}
