@mixin display-flex {
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($opts) {
    -webkit-flex-direction: $opts;
    flex-direction: $opts;
}

@mixin flex($opts) {
    -webkit-flex: $opts;
    flex: $opts;
}

@mixin align-items($opts) {
    -webkit-align-items: $opts;
    align-items: $opts;
}

@mixin align-self($opts) {
    -webkit-align-self: $opts;
    align-self: $opts;
}

@mixin justify-content($opts) {
    -webkit-justify-content: $opts;
    justify-content: $opts;
}