@import "animation";

$translateTo: 900px;
$duration: 0.5s;
$opacity: 0.5;

@include keyframes(slideIn) {
    from {
        opacity: $opacity;
        @include translate(0, $translateTo);
    }
    to {
        opacity: 1;
        @include translate(0, 0);
    }
}

@include keyframes(slideOut) {
    from {
        opacity: 1;
        @include translate(0, 0);
    }
    to {
        opacity: $opacity;
        @include translate(0, $translateTo);
    }
}

@include keyframes(slideDown) {
    from {
        opacity: $opacity;
        @include translate(0, -$translateTo);
    }
    to {
        opacity: 1;
        @include translate(0, 0);
    }
}

@include keyframes(slideUp) {
    from {
        opacity: 1;
        @include translate(0, 0);
    }
    to {
        opacity: $opacity;
        @include translate(0, -$translateTo);
    }
}

@mixin slide {
    @include animation(slideIn $duration);
    
    &.close {
        @include animation(slideOut $duration);
        @include translate(0, $translateTo);
    }
}

@mixin slideDown {
    @include animation(slideDown $duration);
    
    &.close {
        @include animation(slideUp $duration);
        @include translate(0, -$translateTo);
    }    
}
