<p>
	Instructions on how to reset your password have been sent to <%= @user.email %>.
</p>

<%# TODO: Remove the following %>
<hr>
<p style="margin: 10px; padding: 20px; border: 5px solid rgba(255, 0, 0, 0.3)">
	<%= link_to reset_password_url(@user.reset_password_token), reset_password_url(@user.reset_password_token) %>
</p>