<% if params[:email].present? %>
	<p>
		<%= params[:email]%> was not found.
	</p>
<% end %>

<%= form_tag reset_passwords_path do %>
	<p>
		<label for="email">
			Your email address
		</label>	
		<%= text_field_tag :email %>
	</p>
	<p>
		<%= submit_tag 'Reset Password' %>
	</p>
<% end %>