<%= form_tag reset_password_path(params[:id]), method: :put do %>
	<p>
		<label for="password">
			New Password
		</label>	
		<%= password_field_tag :password %>
	</p>
	
	<p>
		<label for="password_confirmation">
			Password Confirmation
		</label>	
		<%= password_field_tag :password_confirmation %>
	</p>
	<p>
		<%= submit_tag 'Reset Password' %>
	</p>
<% end %>