<div class="widget">
	<h2>
		Welcome Back.
	</h2>

	<%= form_tag create_session_path do %>
		<p>
			<%= text_field_tag :email, nil, placeholder: 'Email Address' %>
		</p>

		<p>
			<%= password_field_tag :password, nil, placeholder: 'Password' %>
		</p>

		<p>
			<%= icon_button :submit %>
		</p>
	<% end %>

	<nav>
		<%= link_to 'Forgot your password?', new_reset_password_path %>
		<a href="#" data-signup="true" class="createAccount">Create Account</a>
	</nav>
</div>