<div class="widget">
	<div class="left">
		<h2>
			Sign Up Today.
		</h2>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus velit felis, scelerisque cursus urna placerat a. Nullam porta bibendum odio, vel fermentum nunc tristique ut.
		</p>
	
		<nav>
			<a href="#" data-login="true" class="haveAccount">I already have an account</a>
		</nav>
	</div>

	<div class="right">
		<%= render partial: 'users/form', locals: { user: User.new } %>
	</div>
</div>