<!DOCTYPE html>
<html>
	<head>
	  <title>
			<%= title %>
		</title>
		
	  <%= stylesheet_link_tag "application", media: "all" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>