<!DOCTYPE html>
<html>
	<head>
	  <title>
			<%= title %>
		</title>
		
	  <%= stylesheet_link_tag "school", media: "all" %>
	  <%= csrf_meta_tags %>
		<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	</head>

	<body>
		<div id="layout">
			<div id="detail">
				<header>
					<div id="authentication">
					</div>
					
					<h1>
						<%= link_to school_root_path do %>
							<% if current_school.logo_image? %>
								<%= image_tag(current_school.logo_image, alt: current_school.name, class: 'logo brand') %>
							<% else %>
								<span class="brand">
									<%= current_school.name %>
								</span>
							<% end %>
						<% end %>
					</h1>
				</header>
					
				<div id="content">
					<%= yield %>
				</div>
			</div>

			<div id="scheduler">
				<%= yield :scheduler %>
			</div>
		</div>
		
		<script>
		data = {
			user: <%= embed_json('api/v1/users/user', current_user, partial: true) %>,
			school: <%= embed_json('schools/show', @school) %>,
			courses: <%= embed_json('courses/index', @courses) %>,
			course: <%= embed_json('courses/show', @course) %>,
		};
		</script>
		<%= javascript_include_tag 'school' %>		
	</body>
</html>
